/* Main containers */
html, body {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    padding: 0;
    margin-top: 0;
    font-family: Helvetica, "Segoe UI", "Trebuchet MS", Arial, sans-serif;
    font-size: 62.5%;
    line-height: 300%;
}

#app {
    max-width: 1000px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #121212;
    font-size: 1.6em;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3.5em;
}

footer, .push {
    height: 3.5em;
}

footer {
    font-size: 1.6em;
    max-width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #777;
}

header {
    text-align: center;
    border-bottom: 1px solid #DDD;
    margin-bottom: 30px;
}

.header-text {
    font-weight: lighter;
    font-size: 5em;
}

hr {
  border: none;
  background-color: #DDD;
  height: 1px;
  width: 100%;
  margin: 1em auto;

}

.main {
    text-align: center;
}

/*
---------------------------------
   UI Elements
---------------------------------
*/
.btn {
    background-color: transparent;
    color: #3374FF;
    border: 1px solid #3374FF;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 3px;
    margin: 0.3em;
}

.btn:hover, .btn:focus {
    background-color: #6093ff;
    border-color: #6093ff;
    color: #FFF;
    cursor: pointer;
    outline: none;
}

.btn:active {
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
  outline: none;
}

.creation-form {
    text-align: center;
    margin-top: 1em;
}

.error {
  text-align: center;
  background-color: #f24343;
  color: #FFF;
  border-radius: 3px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-left {
    float: left;
}

.footer-link {
    color: #777;
    text-decoration: none;
}

.footer-link:hover {
    color: #3374FF;
}

.footer-right {
    float: right;
}

.form-el {
    position: relative;
    display: inline-block;
}

.gen-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gen-songs {
    width: 100%;
    border-spacing: 0;
}

.gen-song-number {
    white-space: nowrap;
    text-align: right;
    width: 1; /* Pushes the width of the number to be as small as possible */
}

.gen-songs td, .gen-songs th {
    padding: 7px 15px;
    vertical-align: middle;
}

.gen-song-row:nth-child(even) {
    background-color: #EEE;
}

.github-icon {
    margin-bottom: -0.1em;
}

.slider {
    max-width: 100%;
}

.slider-input {
    width: 90%;
    max-width: 450px;
}

.text-input {
    padding: 1em;
    font-size: 1em;
    margin: 0.3em;
    margin-top: 14px;
    background-color: transparent;
    border: 2px solid #DDD;
}

.text-input:focus {
    border-color: #9EC2F0;
    outline-color: transparent;
    outline: none;
    box-shadow: none;
}

.text-input-label {
    position: absolute;
    left: 13px;
    top: 0px;
    padding: 0 10px;
    background-color: white;
}

.th-right {
    text-align: right;
}

.th-left {
    text-align: left;
}

[v-cloak] {
  display: none;
}

.welcome-message {
  font-weight: normal;
}

/* Status changes */
.invalid {
    border-color: #f24343;
}

/*
---------------------------------
   Media Changes
---------------------------------
*/

@media(max-width: 600px) {
    .footer-left {
        float: none;
        text-align: center;
        margin-bottom: -3px;
    }
    .footer-right {
        float: none;
        text-align: center;
        margin-top: -3px;
    }
}

@media(max-width: 350px) {
    .header-text {
        font-size: 4em;
    }
}

/* Generated styles below. Touch at your own risk. */

/* Spinny spinner */
.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #3374FF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Slider styles */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10.25px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #c3ddf8;
  border-radius: 1.8px;
  border: 0.1px solid #c3ddf8;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.1px 2.1px 7.7px rgba(0, 0, 49, 0.65), 0px 0px 2.1px rgba(0, 0, 75, 0.65);
  border: 1.8px solid rgba(0, 0, 30, 0);
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #528fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #daeafb;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #c3ddf8;
  border-radius: 1.8px;
  border: 0.1px solid #c3ddf8;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.1px 2.1px 7.7px rgba(0, 0, 49, 0.65), 0px 0px 2.1px rgba(0, 0, 75, 0.65);
  border: 1.8px solid rgba(0, 0, 30, 0);
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #528fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #acd0f5;
  border: 0.1px solid #c3ddf8;
  border-radius: 3.6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #c3ddf8;
  border: 0.1px solid #c3ddf8;
  border-radius: 3.6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 2.1px 2.1px 7.7px rgba(0, 0, 49, 0.65), 0px 0px 2.1px rgba(0, 0, 75, 0.65);
  border: 1.8px solid rgba(0, 0, 30, 0);
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #528fff;
  cursor: pointer;
  height: 5.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c3ddf8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #daeafb;
}
